.tiles-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tiles-creator {
  &__header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }
}